.cookies {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    color: #000;
    z-index: 1000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;


    img {
        max-width: 40px;
        height: auto;
    }

    p {
        color: rgb(199, 199, 199);
        font-size: 14px;
        font-family: "Montserrat Regular";
        padding: 0px 30px;
    }

    a {
        color: #ff6800;
        text-decoration: none;
    }
}

.cookies__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .cookies {
        padding: 15px;

        p {
            font-size: 9px;
        }

        img {
            display: none;
        }

    }

    .cookies__text {
        p {
            padding: 0px 15px 0px 0px;
        }
    }

    .cookies__button {
        font-size: 11px;
        padding: 10px 12px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .cookies {
        padding: 15px;

        p {
            font-size: 9px;
        }

        img {
            display: none;
        }

    }

    .cookies__text {
        p {
            padding: 0px 15px 0px 0px;
        }
    }

    .cookies__button {
        font-size: 11px;
        padding: 10px 15px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .cookies {
        p {
            font-size: 10px;
        }

        img {
            max-width: 30px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .cookies {
        p {
            font-size: 12px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}