.section__about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    padding-top: 70px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    img {
        max-width: 70%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.about__text {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding-right: 15px;
    height: calc(800px - 10rem);
    position: relative;

    p {
        font-family: "Montserrat";
        font-size: 30px;
        line-height: 1.25;
        max-width: 80%;
        margin-bottom: 60px;
        color: #000;
    }

    a {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        color: #fff;
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
        text-decoration: none;
        background-color: #680CC1;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        letter-spacing: 1px;
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }

    a:hover {
        transform: translateX(15px);
        background-color: #ff3535;
    }

    h1 {
        padding-bottom: 70px;
        font-family: "Montserrat";
        font-weight: 800;
        color: #000;
        margin: 0;
        font-size: 40px;
    }

    // a:hover {
    //     box-shadow: 0px 15px 20px rgba(231, 42, 42, 0.4);
    //     color: #fff;
    //     transform: translateY(-7px);
    //   }
}

.about__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 70px;

    p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0;
        color: #000;
    }
}



.about__images {
    position: relative;
    width: 100%;
    height: calc(800px - 10rem);
}

.about__image {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(800px - 10rem);
    margin-right: 70px;
    background-color: rgb(90, 90, 90);
    z-index: 2;
    width: calc(100% - 70px);
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
    background-image: url('../../../images/desk.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__box {
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 80%;
    height: calc(9.09722vw + 12rem);
    background-color: #131313;
    z-index: 0;
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
}


.typing-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
    border-top: 1px solid #cfcfcf;
    margin-top: 60px;
    position: absolute;
    bottom: -13px;
    left: 0px;
    width: 66%;

    p {
        font-family: "Montserrat";
        font-size: 14px;
        color: #4a4a4a;
        font-weight: 400;
        line-height: 15px;
        margin: 0;
    }

    .word {
        font-family: "Montserrat";
        font-size: 13px;
        color: #4a4a4a;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 1.86px;
    }
}

.flat-line__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px !important;
    letter-spacing: 1px;
    margin: 0 !important;
    color: hsla(0, 0%, 0%, 0.8);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section__about {
        padding: 0;
        height: auto;
    }

    .about {
        flex-direction: column;
    }

    .about__text {
        height: 460px;
        margin: 0;
        padding-left: 55px;
        padding-right: 55px;
        width: 100%;

        h1 {
            font-size: 30px;
            padding-bottom: 40px;
        }

        p {
            font-size: 20px;
            margin-bottom: 40px;
            max-width: 90%;
        }

        a {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 180px;
        }
    }

    .about__header {
        margin-bottom: 30px;
    }

    .typing-box {
        margin-top: 0;
        top: auto;
        left: 50px;
        bottom: 0;
        width: 90%;

        p {
            font-size: 12px;
            margin: 0;
        }

        .word {
            font-size: 12px;
            line-height: 25px;
            height: 25px;
        }
    }

    .about__images {
        height: 460px;
        margin-bottom: 70px;
    }

    .about__image {
        height: calc(100% - 35px);
        width: 100%;
    }

    .about__box {
        bottom: -15px;
        left: 50px;
        width: 100%;
    }

    .section__about {
        margin-top: 70px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section__about {
        padding: 0;
        margin-top: 0px;
        height: auto;
        margin-bottom: 130px;
    }

    .about {
        flex-direction: column;
    }

    .about__text {
        padding-top: 70px;
        margin: 0;
        max-width: 80%;
        padding-left: 70px;
        padding-right: 70px;
        height: 550px;

        h1 {
            font-size: 30px;
            padding-bottom: 50px;
        }

        p {
            font-size: 20px;
            margin-bottom: 50px;
            max-width: 80%;
        }

        a {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 180px;
        }
    }

    .about__images {
        height: 550px;
    }

    .about__header {
        margin-bottom: 50px;
    }

    .typing-box {
        margin-top: 0;
        top: auto;
        left: 70px;
        bottom: 0;
        width: 90%;

        p {
            font-size: 12px;
            margin: 0;
        }

        .word {
            font-size: 12px;
            white-space: nowrap;
        }
    }

    .about__image {
        height: calc(100% - 70px);
    }

    .about__box {
        bottom: 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .section__about {
        padding: 0;
    }

    .about {
        flex-direction: column;
    }

    .about__text {
        height: 500px;
        margin: 0;
        max-width: 60%;
        padding-left: 70px;
        padding-right: 0;

        h1 {
            font-size: 33px;
            padding-bottom: 40px;
        }

        p {
            font-size: 23px;
            margin-bottom: 40px;
            max-width: 80%;
        }

        a {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 180px;
        }
    }

    .about__images {
        height: 500px;
    }

    .about__header {
        margin-bottom: 40px;
    }

    .typing-box {
        margin-top: 0;
        top: auto;
        left: 70px;
        bottom: 0;
        width: 83%;

        p {
            font-size: 13px;
            margin: 0;
        }
    }

    .about__image {
        height: calc(100% - 70px);
    }

    .about__box {
        bottom: 0;
        width: calc(100% - 70px);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .section__about {
        padding: 0;
    }

    .about {
        flex-direction: column;
    }

    .about__text {
        height: 600px;
        margin: 0;
        max-width: 60%;

        h1 {
            padding-bottom: 50px;
        }

        p {
            font-size: 30px;
            margin-bottom: 50px;
            max-width: 70%;
        }
    }

    .about__images {
        height: 600px;
    }

    .about__header {
        margin-bottom: 50px;
    }

    .typing-box {
        margin-top: 0;
        top: auto;
        left: 120px;
        bottom: 0;

        p {
            font-size: 14px;
            margin: 0;
        }
    }

    .about__image {
        height: calc(600px - 70px);
    }

    .about__box {
        bottom: 0;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1600.98px) {
    .about__header {
        margin-bottom: 40px;
    }

    .about__text {
        h1 {
            padding-bottom: 40px;
            font-size: 37px;
        }

        p {
            font-size: 28px;
            margin-bottom: 40px;
            max-width: 90%;
        }
    }

    .typing-box {
        p {
            font-size: 14px;
            margin: 0;
        }
    }
}

@media (min-width: 1px) and (max-width: 850px) and (orientation: landscape) {
    .section__about {
        padding: 0;
        height: auto;
    }

    .about {
        flex-direction: column;
    }

    .about__text {
        padding-top: 70px;
        height: 600px;
        margin: 0;
        max-width: calc(100% - 70px);
        padding-left: 50px;
        padding-right: 0;

        h1 {
            font-size: 27px;
            padding-bottom: 30px;
            max-width: 90%;
        }

        p {
            font-size: 17px;
            margin-bottom: 30px;
            max-width: 80%;
        }

        a {
            padding-top: 13px;
            padding-bottom: 13px;
            width: 180px;
        }
    }

    .about__header {
        margin-bottom: 30px;
    }

    .about__images {
        height: 600px;
    }

    .about__image {
        height: 100%;
        width: 100%;
    }

    .about__box {
        bottom: -70px;
        right: auto;
        right: 70px;
        width: 100%;
    }

    .typing-box {
        left: 50px;
        top: 85%;

        p {
            font-size: 13px;
            margin: 0;
        }

        .word {
            font-size: 13px;
        }
    }
}

@media (min-width: 851px) and (max-width: 1300px) and (orientation: landscape) {
    .about__header {
        margin-bottom: 50px;
    }

    .about__text {
        height: 600px;
        margin: 0;
        max-width: 50%;
        padding-left: 100px;

        h1 {
            padding-bottom: 50px;
        }

        p {
            font-size: 25px;
            margin-bottom: 50px;
            max-width: 95%;
        }
    }

    .typing-box {
        left: 100px;
        top: 88%;

        p {
            font-size: 13px;
            margin: 0;
        }

        .word {
            font-size: 13px;
        }
    }

    .about {
        flex-direction: row;
    }

    .about__images {
        height: 600px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 990px) and (max-width: 2000px) {
    .about__text {
        padding-left: 120px;
    }

    .typing-box {
        left: 120px;
    }
}