.portfolio__item {
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
  width: calc(33.33% - 50px);
  margin: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  img {
    width: 100%;
    height: 100%;
  }
}

.portfolio__item:hover {
  .portfolio__itemHover {
    left: 0px;
  }
}

.portfolio__itemHover {
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: -800px;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background: rgba(254, 100, 4, 0.781);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Bold";
  font-weight: 800;
  font-size: 26px;
  color: #fff;
  text-decoration: none;

  p {
    width: 90%;
    text-align: center;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .portfolio__item {
    width: 100%;
    margin: 18px 7px;
  }

  .portfolio__itemHover {
    font-size: 26px;
  }

  .portfolio__item:hover {
    .portfolio__itemHover {
      left: -800px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .portfolio__item {
    width: calc(50% - 30px);
    margin: 15px;
  }

  .portfolio__itemHover {
    font-size: 26px;
  }

  .portfolio__item:hover {
    .portfolio__itemHover {
      left: -800px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .portfolio__item {
    margin: 20px;
    width: calc(50% - 40px);
  }

  .portfolio__item:hover {
    .portfolio__itemHover {
      left: -800px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .portfolio__item {
    margin: 15px;
    width: calc(33.33% - 30px);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}