.section-offer {
    margin-top: 40px;
}

.offer__section--bg {
    background: #F8F8F8;
}

.offer__section {
    padding: 80px 120px;
    position: relative;
}

.offer__number {
    position: absolute;
    top: 30px;
    right: 200px;
    z-index: 0;
    max-height: 300px;
}

.offer__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h2 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 26px;
        margin: 0;
        margin-bottom: 40px;
        z-index: 2;
    }

    p {
        font-size: 22px;
        font-family: "Montserrat Regular";
        font-weight: 400;
        line-height: 1.25;
        color: #4a4a4a;
        width: 80%;
        z-index: 2;
    }

    img {
        max-width: 200px;
        height: auto;
    }
}

.title__text {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.offer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px 0 hsla(0, 2%, 49%, .14);
    width: calc(20% - 30px);
    margin: 15px;
    position: relative;
    padding: 0px;
    background-color: #fff;

    img {
        position: absolute;
        width: 90%;
        top: -100px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

    }

    p {
        font-family: "Montserrat Regular";
        font-weight: 400;
        font-size: 13px;
        color: #4a4a4a;
        margin: 0px;
        text-transform: uppercase;
        line-height: 20px;
        padding: 25px 25px;
    }
}

.features__items {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 15px;
}

.offer__featuresWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 25px 0px;
    justify-content: center;
    align-items: flex-start;

    h2 {
        width: 100%;
        font-family: "Montserrat Bold";
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    p {
        font-family: "Montserrat Regular";
        font-weight: 400;
        font-size: 13px;
        color: #4a4a4a;
        margin: 0px;
        text-transform: uppercase;
        line-height: 20px;
    }
}

.offer__features {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.feature__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #4a4a4a;
    margin-bottom: 10px;
}

.feature__name {
    padding-right: 15px;
}

.feature__price {
    text-align: right;
}

.offer__features--padding {
    padding-top: 40px !important;
}

.item__pricing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    margin-bottom: 25px;
}

.pricing__value {
    font-size: 50px;
}

.item__pricing--low {
    background-color: #AC7657;
}

.pricing__value--low {
    color: #AC7657;
}

.item__pricing--medium {
    background-color: #FE5841;
}

.pricing__value--medium {
    color: #FE5841;
}

.item__pricing--high {
    background-color: #FCB140;
}

.pricing__value--high {
    color: #FCB140;
}

.item__pricing--individual {
    background-color: #3E4FE6;
}

.pricing__value--individual {
    color: #3E4FE6;
}

.pricing__title {
    color: #fff;
    text-transform: uppercase;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section-offer {
        margin-top: 20px;
    }

    .offer__section--bg {
        background: #F8F8F8;
    }

    .offer__section {
        padding: 60px 15px 50px 15px;
        position: relative;
    }

    .offer__item {
        width: calc(100% - 30px);
        margin-bottom: 50px;
    }

    .offer__features {
        width: 100%;
    }

    .offer__number {
        right: 30px;
        max-height: 180px;
    }

    .offer__title {
        align-items: flex-start;

        p {
            width: 100%;
        }
    }

    .offer__featuresWrapper {
        padding: 0;
        margin-top: 0;
    }

    .features__items {
        width: 100%;
    }

    .offer__number {
        display: none;
    }

    .offer__title {
        flex-direction: column;

        img {
            margin-bottom: 30px;
        }
    }

    .title__text,
    .offer__features,
    .features__items {
        padding: 0;
    }

    .pricing__value {
        font-size: 40px;
    }

    .offer__items {
        margin-top: 50px;
    }

    .offer__featuresWrapper h2 {
        padding: 0;
    }

    .offer__title p {
        font-size: 19px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-offer {
        margin-top: 20px;
    }

    .offer__section--bg {
        background: #F8F8F8;
    }

    .offer__section {
        padding: 60px 15px 50px 15px;
        position: relative;
    }

    .offer__item {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }

    .offer__features {
        width: 100%;
    }

    .offer__number {
        right: 30px;
        max-height: 180px;
    }

    .offer__title {
        align-items: flex-start;

        p {
            width: 100%;
        }
    }

    .offer__featuresWrapper {
        padding-top: 0;
        margin-top: 0;
    }

    .offer__number {
        display: none;
    }

    .offer__title p {
        font-size: 19px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .section-offer {
        margin-top: 20px;
    }

    .offer__section--bg {
        background: #F8F8F8;
    }

    .offer__section {
        padding: 80px 30px 60px 30px;
        position: relative;
    }

    .offer__item {
        width: calc(50% - 30px);
        margin-bottom: 70px;
    }

    .offer__features {
        width: 100%;
    }

    .offer__number {
        right: 30px;
        max-height: 180px;
    }

    .offer__title {
        p {
            width: 100%;
        }
    }

    .offer__featuresWrapper {
        padding-top: 0;
        margin-top: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .offer__section--bg {
        background: #F8F8F8;
    }

    .offer__section {
        padding: 80px 60px;
        position: relative;
    }

    .offer__item {
        width: calc(25% - 30px);

        p {
            padding: 80px 15px 50px 15px;
        }
    }

    .offer__features {
        width: 100%;
    }

    .offer__number {
        right: 60px;
        max-height: 220px;
    }

    .offer__title {
        p {
            width: 90%;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1499.98px) {
    .offer__item {
        width: calc(25% - 30px)
    }

    .offer__features {
        width: 100%;
    }

    .offer__section {
        padding: 80px;
    }

    .offer__number {
        right: 50px;
        max-height: 250px;
    }
}