.menu-button {
    position: absolute;
    top: 0;
    left: -70px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #FF6800;
    z-index: 1;
    cursor: pointer;
}

.suqare-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;

    img {
        max-width: 50px;
    }
}

.side-menu {
    position: fixed;
    background: #131313;
    color: #fff;
    width: 300px;
    height: 100%;
    top: 0;
    right: -300px;
    z-index: 10;

    ul {
        list-style-type: none;
        margin: 0;
        cursor: pointer;

        li {
            width: 100%;
            text-align: center;
            font-family: "Montserrat Regular";
            font-size: 25px;
            margin: 0;
            padding: 0;
            transition: background 0.2s ease-in-out, padding-left 0.2s ease-in-out;
            cursor: pointer;
        }

        li:hover {
            background: #FF6800;
            cursor: pointer;
        }
    }
}

.side-menu__button {
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

}

.side-menu__language:hover {
    background-color: #131313;
}

.website-content {
    position: relative;

    .main-content-button {
        display: none;
    }

    .main-content,
    .suqare-logo {
        transition: transform 0.6s ease-in-out;
    }

    .side-menu {
        transition: transform 0.6s ease-in-out;
    }
}

.website-content--show-menu {
    position: relative;

    .main-content-button {
        display: block;
    }

    .main-content,
    .suqare-logo {
        transition: 0.6s ease-in-out;
        transform: translateX(-300px)
    }

    .side-menu {
        transition: 0.6s ease-in-out;
        transform: translateX(-300px)
    }
}


#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 32px;
    height: 32px;
    position: relative;
    margin-right: -2px;
    margin-top: 7px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.side-menu__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
}

.side-menu-social {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    padding-bottom: 15px;

    a {
        width: 25px;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
        transition: opacity 0.2s ease-in-out;
    }

    a:hover {
        opacity: 0.7;
    }

    img {
        color: #fff;
        max-width: 25px;
        height: auto;
        margin: 0;
        transition: margin-right 0.3s ease-in-out;
    }
}

.side-menu__contact {
    a {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: "Montserrat Light";
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        line-height: 30px;
        text-decoration: none;
        transition: opacity 0.2s ease-in-out;
    }

    a:hover {
        opacity: 0.7;
    }

    img {
        width: 16px;
        margin-right: 15px;
        margin-bottom: 0;
    }
}


.menu-desktop {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    max-width: 2560px;
}

.menu-dekstop__content {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: hidden;

    ul {
        display: flex;
    }
}

.menu-dekstop__content:last-child {
    div {
        padding-right: 0;
    }
}

.menu-dekstop__item {
    font-family: "Montserrat Regular";
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
    transition: color 0.2s ease-in-out;
    display: flex;
    font-weight: bold;
}

.language__wrapper:hover {
    color: #fff !important;
    cursor: pointer;
}

.language__wrapper,
.side-menu__language {
    display: none !important;
}

.language__item {
    padding: 0 5px 0 5px;
    transition: color 0.2s ease-in-out;
}

.language__item--en {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.top-logo {
    padding: 0 !important;
}

.top-logo img {
    max-width: 180px;
}

.menu-dekstop__item:hover,
.language__item:hover {
    color: #FF3535;
}

.language--active {
    font-family: "Montserrat Bold";
}

.header-small {
    //background-image: url('../images/mobile-menu-bg.png');
    //background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(1, 167, 253, 1) 19%, rgba(74, 60, 225, 1) 98%);
    width: 100%;
    z-index: 20;

    .menu-desktop {
        position: relative;
    }

    .top-logo img {
        max-width: 100px;
    }

}

.menu-dekstop__content {
    padding: 25px 120px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .website-content--show-menu .side-menu {
        transform: translateX(-250px);
    }

    .website-content--show-menu .main-content {
        transform: translateX(-250px);
    }

    .side-menu-social {
        width: 250px;
    }

    .side-menu__contact {
        img {
            width: 15px;
            margin-right: 10px;
        }

        a {
            font-size: 12px;
        }
    }

    .side-menu {
        width: 250px;
        right: -250px;

        ul {
            li {
                font-size: 22px;
            }
        }
    }

    .side-menu__button {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .side-menu {
        padding-top: 6px;
    }

    .menu-dekstop__content {
        padding-left: 35px;
        padding-right: 35px;
    }

    .top-logo img {
        max-width: 100px;
    }

    .menu-dekstop__item,
    .header-small {
        display: none;
    }

    .side-menu {
        z-index: 14;
    }

    .menu-button {
        left: -50px;
        height: 50px;
        width: 50px;
    }

    .suqare-logo {
        z-index: 15;
        width: 50px;
        height: 50px;
    }

    .suqare-logo img {
        max-width: 35px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .website-content--show-menu .side-menu {
        transform: translateX(-270px);
    }

    .website-content--show-menu .main-content {
        transform: translateX(-270px);
    }

    .side-menu-social {
        width: 270px;
    }

    .side-menu__contact {
        img {
            width: 15px;
            margin-right: 10px;
        }

        a {
            font-size: 13px;
        }
    }

    .side-menu {
        width: 270px;
        right: -270px;

        ul {
            li {
                font-size: 22px;
            }
        }
    }

    .side-menu__button {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .side-menu {
        padding-top: 6px;
    }

    .menu-dekstop__content {
        padding-left: 35px;
        padding-right: 35px;
    }

    .top-logo img {
        max-width: 100px;
    }

    .menu-dekstop__item,
    .header-small {
        display: none;
    }

    .side-menu {
        z-index: 14;
    }

    .suqare-logo,
    .menu-button {
        z-index: 15;
        width: 50px;
        height: 50px;
    }

    .menu-button {
        left: -50px;
    }

    .suqare-logo img {
        max-width: 35px;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .website-content--show-menu .side-menu {
        transform: translateX(-270px);
    }

    .website-content--show-menu .main-content {
        transform: translateX(-270px);
    }

    .side-menu-social {
        width: 270px;
    }

    .side-menu__contact {
        img {
            width: 15px;
            margin-right: 10px;
        }

        a {
            font-size: 13px;
        }
    }

    .side-menu {
        width: 270px;
        right: -270px;

        ul {
            li {
                font-size: 24px;
            }
        }
    }

    .side-menu__button {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .menu-dekstop__item {
        font-size: 11px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-dekstop__content {
        padding-left: 30px;
        padding-right: 15px;
    }

    .top-logo img {
        max-width: 100px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .side-menu {
        ul {
            li {
                font-size: 25px;
            }
        }
    }

    .menu-dekstop__item {
        font-size: 12px;
        padding-left: 23px;
        padding-right: 23px;
    }

    .top-logo img {
        max-width: 130px;
    }

    .menu-dekstop__content {
        padding: 45px 30px 45px 30px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1500.98px) {
    .menu-dekstop__item {
        font-size: 12px;
    }

    .top-logo img {
        max-width: 150px;
    }
}


@media (min-width: 1px) and (max-width: 850px) and (orientation: landscape) {
    .website-content--show-menu .side-menu {
        transform: translateX(-250px);
    }

    .website-content--show-menu .main-content {
        transform: translateX(-250px);
    }

    .side-menu-social {
        width: 250px;
    }

    .side-menu__contact {
        img {
            width: 15px;
            margin-right: 10px;
        }

        a {
            font-size: 12px;
        }
    }

    .side-menu {
        width: 250px;
        right: -250px;

        ul {
            li {
                font-size: 18px;
            }
        }
    }

    .side-menu__button {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .side-menu {
        padding-top: 13px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 2560px) and (max-width: 50000.98px) {}