.portfolio__nav {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__nav {
  button:active {
    outline: none;
  }

  button:focus {
    outline: none;
  }

  button {
    cursor: pointer;
  }
}

.portfolio__button {
  padding: 12px 30px;
  margin-bottom: 15px;
  background-color: #FE6304;
  color: #fff;
  border: 3px solid #FE6304;
  margin-right: 20px;
  width: 180px;
}

.portfolio__button--active {
  padding: 12px 30px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #FE6304;
  border: 3px solid #FE6304;
  margin-right: 20px;
  width: 180px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .portfolio__button,
  .portfolio__button--active {
    font-size: 12px;
    padding: 12px 15px;
    margin-right: 0;
    margin-bottom: 12px;
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}