.contact__formWrapper {
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #EAEAEA;
    padding: 80px 45px 80px 45px;
    font-family: "Montserrat Regular";
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 5px 15px 0 hsla(0,2%,49%,.14);
    p {
        font-size: 26px;
        padding-bottom: 40px;
        width: 100%;
        color: #131313;
        line-height: 30px;
    }
}

.form__input--email, .form__input--message{
    width: 100%;
    padding: 1px 1px 7px 1px;
}

.form__input--name, .form__input--mobile {
    width: 46%;
} 

.form__input--name {
    margin-right: 4%;
}

.form__input--mobile {
    margin-left: 4%;
}

.form__input--email, .form__input--message, .form__input--name, .form__input--mobile  {
    border: none;
    border: 2px solid #131313;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: "Montserrat Regular";
}

.form__input--message {
    height: 200px;
}

.form__input {
    background-color: transparent;
    color: #131313;
    font-size: 13px;
    padding: 15px;
    display: flex;
    line-height: 20px;
}

.form__input:focus {
    outline-width: 0;
    border: 2px solid #fE6304;
}

.button--send {
    max-width: 150px;
    border: none;
}

.privacy-policy {
    font-size: 13px !important;
    padding: 0 !important;
    line-height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checbox--wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(158, 158, 158);
    opacity: 1; /* Firefox */
  }

.checkbox {
    width: 21px;
    height: 28px;
    padding: 0;
    margin: 0px 12px 0px 0px;
}

.privacy-policy a {
    padding: 0px 5px 0px 5px;
    color: rgb(175, 175, 175);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .contact__formWrapper {
        width: 100%;
    }
    .contact__form {
        width: 100%;
        padding: 40px 25px;
    }
    .form__input--email, .form__input--message, .form__input--name, .form__input--mobile  {
        margin-bottom: 25px;
    }
    .checbox--wrapper {
        padding-bottom: 25px;
    }
    .form__input--name, .form__input--mobile {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    } 
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .contact__formWrapper {
        width: 100%;
    } 
    .contact__form {
        width: 100%;
        padding: 60px 45px 60px 45px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .contact__formWrapper {
        width: 100%;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }
