.loader-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

header {
    width: 100%;
    height: 100vh;
    z-index: 13;
}

.canvas__container {
    position: relative;
    background-image: url('../../images/amadeusz-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header__bg--bottom {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70%;
        margin-top: 200px;
        height: auto;
    }
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('../../../static/Montserrat-Bold.woff');
}

@font-face {
    font-family: "Montserrat Regular";
    src: url('../../../static/Montserrat-Regular.woff');
}

@font-face {
    font-family: "Montserrat Light";
    src: url('../../../static/Montserrat-Light.woff');
}



.canvas-text {
    position: absolute;
    top: 200px;
    left: 120px;
    width: 50%;
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    z-index: 3;

    p {
        font-family: "Montserrat Bold";
        font-size: 65px;
        text-align: left;
        line-height: 1;
        letter-spacing: 1px;
        margin-bottom: 30px;
        text-shadow: 3px 3px 6px rgba(83, 0, 192, 0.271);
        max-width: 1000px;
    }

    h2,
    h1 {
        margin-bottom: 0;
        text-align: left;
        letter-spacing: 1px;
        font-weight: 400;
    }

    h2 {
        color: #FF6800;
        margin-bottom: 30px;
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 19px;
        text-shadow: 2px 2px 5px #0F0023;
        letter-spacing: 1.5px;
        text-align: left;
    }

    h1 {
        margin-bottom: 50px;
        font-family: "Montserrat Light";
        font-size: 33px;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(83, 0, 192, 0.521);
        text-align: left;
        width: 100%;
    }
}

.scroll-down {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    font-family: "Montserrat Regular";
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 8px #0F0023;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;

    h1 {
        width: 100%;
        text-align: center;
    }

    img {
        max-width: 35px;
        animation: infinite;
        animation-duration: 2s;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        text-shadow: 2px 2px 8px #0F0023;
    }
}

.scroll-down__container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

#stars {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    height: 100vh;
    z-index: 1;
}

.button--alert {
    font-family: "Montserrat Regular";
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #fff;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-decoration: none;
    background-color: #FF6800;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button--alert:hover {
    transform: translateX(15px);
    background-color: #ff3535;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .canvas-text {
        width: 100%;
        left: 0;
        top: 100px;
        height: auto;
        text-align: center;
        align-items: center;

        p {
            font-size: 27px;
            padding: 0px 30px;
            text-align: center;
        }

        h1 {
            font-size: 17px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .scroll-down {
        font-size: 16px;
    }

    .scroll-down__container {
        margin-top: 15px;

        img {
            max-width: 30px;
        }
    }

    .header__bg--bottom {
        width: 100%;
        align-items: flex-end;
        padding-bottom: 100px;
    }

    .canvas__container,
    .header__bg--bottom {
        background-attachment: scroll;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .canvas-text {
        width: 100%;
        left: 0;
        top: 70px;
        height: auto;
        text-align: center;
        align-items: center;

        p {
            font-size: 30px;
            padding: 0px 30px;
            text-align: center;
        }

        h1 {
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .scroll-down {
        font-size: 16px;
    }

    .scroll-down__container {
        margin-top: 15px;

        img {
            max-width: 30px;
        }
    }

    .header__bg--bottom {
        display: none;
    }

    .canvas__container,
    .header__bg--bottom {
        background-attachment: scroll;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .canvas-text {
        width: 100%;
        left: 0;
        top: 200px;
        height: auto;
        text-align: center;
        align-items: center;

        p {
            font-size: 40px;
            padding: 0px 30px;
            text-align: center;
        }

        h1 {
            font-size: 22px;
            text-align: center;
        }
    }

    .scroll-down {
        font-size: 16px;
    }

    .scroll-down__container {
        margin-top: 15px;

        img {
            max-width: 30px;
        }
    }

    .header__bg--bottom {
        width: 100%;
        align-items: flex-end;
        padding-bottom: 150px;
    }

    .canvas__container,
    .header__bg--bottom {
        background-attachment: scroll;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .canvas-text {
        width: 100%;
        left: 0;
        top: 300px;
        height: auto;
        text-align: center;
        align-items: center;

        p {
            font-size: 50px;
            text-align: center;
        }

        h1 {
            font-size: 23px;
            text-align: center;
        }
    }

    .scroll-down {
        font-size: 16px;
    }

    .scroll-down__container {
        margin-top: 15px;

        img {
            max-width: 30px;
        }
    }

    .header__bg--bottom {
        width: 100%;
        align-items: flex-end;
        padding-bottom: 200px;
    }

    .canvas__container,
    .header__bg--bottom {
        background-attachment: scroll;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1500px) {
    .canvas-text {
        height: 64%;

        p {
            font-size: 40px;
        }

        h1 {
            font-size: 20px;
        }
    }
}





// @media (min-width: 1px) and (max-width: 850px) and (orientation: landscape) {
//     .canvas-text {
//         p {
//             font-size: 25px;
//             margin-bottom: 20px;
//         }

//         h1 {
//             font-size: 13px;
//             margin-bottom: 20px;
//         }
//     }

//     .scroll-down {
//         font-size: 13px;
//     }

//     .scroll-down__container {
//         margin-top: 10px;

//         img {
//             max-width: 20px;
//         }
//     }
// }

// @media (min-width: 851px) and (max-width: 1300px) and (orientation: landscape) {
//     .canvas-text {
//         p {
//             font-size: 27px;
//             margin-bottom: 30px;
//         }

//         h1 {
//             font-size: 15px;
//             margin-bottom: 30px;
//         }
//     }

//  }