footer {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #6e16e6;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 120px 0px 120px;

    ul {
        display: flex;
        margin: 0;
        flex-direction: column;
    }

    li {
        list-style-type: none;
        margin: 0;
        z-index: 4;
        letter-spacing: 1px;
        margin-bottom: 4px;
    }

    p {
        font-family: "Montserrat Regular";
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        color: #fff;
        margin: 0px;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 4;
        letter-spacing: 1px;
    }

    .skills-bottom-square {
        height: 210px;
        left: 0;
        top: -450px;
        width: 70px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 15px;
        z-index: 10;

        p {
            transform: rotate(-90deg);
            display: block;
            text-transform: capitalize;
            font-size: 14px;
            text-decoration: none;
            font-family: "Montserrat Regular";
            font-weight: 400;
            color: #fff;
            width: 30px;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}

.footer__absolute {
    width: 100%;
    padding: 30px;
    // background: rgba(0, 0, 0, 0.342);
    border-top: 1px solid #fff;
    margin-top: 35px;

    p {
        font-size: 11px;
    }
}

.scroll-to-top {
    height: 58px;
}

.footerItem--nopadding {
    padding-right: 0 !important;
    align-items: flex-end;
    display: none;
}

.footerItem__title {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px;

    p {
        color: #fff;
        font-family: "Montserrat Bold";
    }
}

.footer__logo {
    width: 25%;
    margin-bottom: 40px;

    img {
        max-width: 130px;
    }
}

.footerItem__social {
    display: flex;
    justify-content: flex-end;
}

.line-box {
    width: 2px;
    height: 58px;
    background-color: transparent;
    overflow: hidden;
}

.white-line {
    width: 2px;
    height: 58px;
    background-color: #fff;
    animation: slide-up 2s steps(200) infinite;
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(-100px);
    }
}

.footer-box {
    overflow: hidden;
    position: relative;
}

.footerItem {
    display: flex;
    z-index: 3;
    overflow: hidden;
    flex-direction: column;
    width: auto;
    margin-bottom: 20px;
    padding-right: 50px;
    width: 25%;

    .social__item {
        color: #fff;
    }

    .social__item img {
        filter: brightness(100);
        margin-left: 20px;
        margin-right: 0;
    }

    .social__item:hover {
        opacity: 0.8;

        img {
            margin-left: 20px;
        }
    }
}

.footer-menu-item {
    font-family: "Montserrat Regular";
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    transition: color 0.2s ease-in-out;
    word-wrap: none;
    text-align: left;
}

.footer-menu-item:hover {
    color: #FF6800;
}

.footer__menu {
    display: flex;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    footer {
        padding: 50px 15px 0px 15px;
        font-size: 11px !important;
    }

    .footerItem {
        width: 100%;
        padding-right: 0;
    }

    .footer__logo,
    .footerItem--nopadding {
        width: 100%;
        align-items: flex-start;
    }

    .footerItem--nopadding {
        .social__item {
            img {
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }

    .footer__absolute {
        margin-top: 10px;

        p {
            font-size: 10px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    footer {
        padding: 60px 15px 0px 15px;
        font-size: 11px !important;
    }

    .footerItem {
        width: 50%;
        padding-right: 0;
    }

    .footer__logo,
    .footerItem--nopadding {
        width: 50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    footer {
        padding: 60px 30px 0px 30px;
        font-size: 11px !important;
    }

    .footerItem {
        width: 30%;
    }

    .footer__logo,
    .footerItem--nopadding {
        width: 20%;
    }

    .footer__logo {
        img {
            max-width: 100px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    footer {
        padding: 60px 60px 0px 60px;
        font-size: 11px !important;
    }

    .footer-menu-item {
        font-size: 11px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1570.98px) {}

.footerItem--nopadding {
    display: none;
}