.section__clients {
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
}

.clients__container {
    background-image: url('../../../images/amadeusz-banner-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    //box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
}

.clients__wrapper {
    padding: 100px 120px 60px 120px;
    z-index: 4;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
    overflow: hidden;
}

.clients-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.clients__about {
    h2 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 26px;
        margin-bottom: 25px;
        color: #fff;
    }

    p {
        font-size: 22px;
        font-family: "Montserrat Light";
        line-height: 1.25;
        color: #fff;
        margin-bottom: 40px;
        width: 80%;
    }
}

.clients__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;

    p {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0;
        color: #fff;
    }
}

.clients__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.clients__item {
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

    img {
        max-height: 120px;
        max-width: 180px;
        width: auto;
        // filter: invert(22%) sepia(24%) saturate(13%) hue-rotate(351deg) brightness(34%) contrast(82%);
    }
}


.clients-bigimage {
    position: absolute;
    width: 40%;
    z-index: 6;
    right: 0;
    top: 150px;
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30.57143rem;
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, .11);
    padding: 70px;

    h2 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 26px;
        margin-bottom: 25px;
        color: #fff;
        text-shadow: 2px 2px 8px #0F0023;
    }

    p {
        font-size: 22px;
        font-family: "Montserrat Light";
        line-height: 1.25;
        color: #fff;
        margin-bottom: 40px;
        width: 80%;
        text-shadow: 2px 2px 8px #0F0023;
    }

    a {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
        text-decoration: none;
        background-color: #FF6800;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
        display: block;
        max-width: 245px;
    }

    a:hover {
        transform: translateX(15px);
        background-color: #ff3535;
    }
}

.clients__item-link {
    text-transform: uppercase;
}

.clients__text {
    a {
        color: #FF6800;
        text-decoration: none;
    }

    a:hover {
        color: #FF3535;
    }

}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section__clients {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .clients-bigimage {
        display: none;
    }

    .clients__container {
        width: 100%;
        position: relative;
        background-attachment: scroll;
    }

    .clients__item {
        width: 33%;
        padding: 0px 10px;
        height: 120px;
    }

    .clients__wrapper {
        padding: 60px 15px 50px 15px;
    }

    .q-rent {
        display: none;
    }

    .clients__about {
        p {
            font-size: 19px;
            margin-bottom: 25px;
            width: 100%;
        }
    }

    .clients__header {
        p {
            margin: 0;
        }
    }

    .clients__item img {
        max-height: 70px;
        max-width: 90px;
    }

    #client__item--last {
        display: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section__clients {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0;
    }

    .clients__wrapper {
        padding: 60px 15px 50px 15px;
    }

    .clients-bigimage {
        display: none;
    }

    .clients__container {
        width: 100%;
        position: relative;
        background-attachment: scroll;
    }

    .clients__about {
        p {
            width: 100%;
        }
    }

    .clients__item {
        width: 33%;
        padding: 0px 10px 0px 0px;
        height: 120px;
    }

    .clients__item img {
        max-height: 80px;
        max-width: 100px;
    }

    .q-rent {
        display: none;
    }

    #client__item--last {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .clients__wrapper {
        padding: 80px 30px 60px 30px;
    }

    .clients__item {
        height: 150px;
        padding: 10px;
    }

    .clients-bigimage {
        width: 70%;
        right: 0px;
        bottom: 2%;
        top: auto;
        height: 40%;
    }

    .clients__about {
        h2 {
            font-size: 22px;
        }

        p {
            font-size: 19px;
            margin-bottom: 10px;
        }
    }

    .clients-bigimage {
        p {
            font-size: 19px;
        }
    }

    .clients__item img {
        max-height: 80px;
        max-width: 100px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .clients__wrapper {
        padding: 80px 60px;
    }

    .clients-bigimage {
        width: 70%;
        right: 0px;
        bottom: 17%;
        top: auto;
        height: 35%;
    }

    .clients__item {
        height: 150px;
    }

    .clients__item img {
        max-height: 80px;
        max-width: 100px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1500.98px) {
    .clients__wrapper {
        padding: 80px;
    }

    .clients__about {
        p {
            font-size: 22px;
        }
    }

    .clients-bigimage {
        p {
            font-size: 22px;
        }
    }

    .clients__item {
        height: 200px;
    }

    .clients__item img {
        max-height: 80px;
        max-width: 100px;
    }
}