.section__offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 120px 0px 120px;
}

.offer__grid {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    h2 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 26px;
        margin-bottom: 40px;
        color: rgb(19, 19, 19);
    }
}

.offer__about {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    p {
        font-size: 22px;
        font-family: "Montserrat Regular";
        font-weight: 400;
        max-width: 80%;
        line-height: 1.25;
        color: #4a4a4a;
        padding-bottom: 40px;
        width: 80%;
        a {
            color: #FF7200;
            text-decoration: none;
        }
    }
}

.offer__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    color: rgb(19, 19, 19);

    p {
        font-family: "Montserrat Regular";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }
}

.offer__items {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.offer__item {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding-right: 1.02857rem;
    padding-left: 1.02857rem;
    img {
        margin-bottom: 40px;
        width: 200px;
        height: auto;
    }

    h3 {
        font-family: "Montserrat Bold";
        font-weight: 800;
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 40px;
        color: rgb(19, 19, 19);
        height: 50px;
    }

    p {
        color: #4a4a4a;
        font-size: 14px;
        font-family: "Montserrat Regular";
        line-height: 20px;
        font-weight: 400;
        margin: 0;
    }
    a {
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }
    a:hover {
            margin-top: 15px;
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .section__offer {
        height: auto;
        padding: 65px 35px 0px 35px;
    }

    .offer__items {
        width: 100%;
    }

    .offer__about {
        padding-bottom: 60px;
        width: 100%;
        text-align: right;
        padding-right: 35px;

        p {
            max-width: 100%;
            margin: 0;
            font-size: 19px;
        }

        h2 {
            margin-bottom: 30px;
        }
    }

    .offer__header {
        justify-content: flex-end;
        margin-bottom: 30px;

        p {
            font-family: "Montserrat Regular";
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 0;
        }
    }

    .offer__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .offer__item {
        padding-left: 0;
        padding-right: 30px;
        width: 100%;
        padding-bottom: 40px;

        img {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .section__offer {
        height: auto;
        padding: 120px 35px 0px 35px;
    }

    .offer__items {
        width: 100%;
    }

    .offer__about {
        padding-bottom: 70px;
        width: 100%;

        p {
            max-width: 100%;
            margin: 0;
            font-size: 19px;
        }
    }

    .offer__header {
        p {
            font-family: "Montserrat Regular";
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 0;
        }
    }

    .offer__item {
        padding-left: 0;
        padding-right: 15px;

        img {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .section__offer {
        height: 100vh;
        padding-top: 150px 70px 0px 70px;
    }

    .offer__items {
        width: 100%;
    }

    .offer__about {
        padding-bottom: 70px;
        width: 100%;

        p {
            max-width: 70%;
            margin: 0;
        }
    }

    .offer__item {
        padding-left: 0;
        padding-right: 30px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .section__offer {
        height: auto;
        padding: 120px 120px 50px 120px;
    }

    .offer__items {
        width: 100%;
    }

    .offer__about {
        padding-bottom: 70px;
        width: 100%;

        p {
            max-width: 70%;
            margin: 0;
        }
    }

    .offer__item {
        padding-left: 0;
        padding-right: 30px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1430.98px) {
    .offer__items {
        width: 70%;
    }

    .offer__about {
        width: 30%;

        p {
            max-width: 70%;
        }
    }

    .section__offer {
        padding: 150px 120px 0px 120px;
    }
}

@media (min-width: 1px) and (max-width: 850px) and (orientation: landscape) {
    .section__offer {
        height: auto;
        padding: 150px 120px 0px 120px;
    }
}